@font-face {
    font-family: vazir;
    src: url(./font/vazir-font-v16.1.0/Vazir-Light.ttf);
}
@font-face {
  font-family:shabnam ;
  src: url(./font/Salamat/Salamat.ttf);
}
@keyframes free{
  from {left:0;}
  to   {left:100%;}
 }
 @keyframes deelay {
  from {left:0}
  to   {left:10px}
 }
 @keyframes continue {
  from {left:4px}
  to   {right: 4px;}
 }
 @media only screen and (max-width:993px){
  #navbarNav{
    position: absolute;
    top:25px;
    width: 300px;
  } 
}
@media screen and (max-width: 577px){
  .counter1{
    top: -25%;
    left: 36%;
  }
}
@media screen and (max-width:992px) and (min-width: 578px){
  .counter1{
    top: -25%;
    left: 43%;
  }
}
*{
    direction: rtl;
    font-family: vazir;
}

body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.topnav a:hover{
 color: red;
}
#navbarNav{
  z-index:2;
  background-color: #ffff;
}
#navbarNav a:hover{
  background-color: rgb(247, 214, 209) ;
}
.name-onlinshop{
    flex:0 0 auto;
}
.inputgroup1{
    direction: ltr;
}
.logo-img{
    max-width: -webkit-fill-available;
}
.row-nav-basket{
    align-items: center;
}
.dropdown-menu{
    max-height: 400px;
    overflow-y:scroll;
}
.dropdown-menu li{
    list-style-type: none;
    direction: rtl;
    text-align: start;
}
.logo-in-top{
   
    max-width: -webkit-fill-available;
}

.dropdown,.dropdown1{
  list-style: none;
}
/* ===========> منوی پایین=dropdown & dropdowncontent <========= */
.dropdowncontent{
    display: none;
    height: 280px;
    overflow-y: hidden;
    direction: ltr;
    border: 0.5px solid rgb(239, 235, 235);
    border-radius: 10px;
    box-sizing: 5px 5px 5px rgba(5,1,0,0.1);
}
.dropdown:hover .dropdowncontent {
  display: block;
  
}
/*============> دسته بندی===>dropdown1 & dropdowncontent1 <=============*/
.dropdown1{
  position: relative;
}
.dropdowncontent1{
  display: none;
  height: 280px;
  overflow-y:auto;
  overscroll-behavior: content;
  direction: ltr;
  border: 0.5px solid rgb(239, 235, 235);
  border-radius: 10px;
  box-sizing: 5px 5px 5px rgba(5,1,0,0.1); 
}
.dropdown1:hover .dropdowncontent1{
  display: block;
}
.drop-item{
  display: block;
  margin: 7px;
}
.drop-item:hover{
  background-color: rgb(247, 214, 209);
}
.menuul li{
  list-style: none;
}
.menuul li a{
  text-decoration: none;
}
.menu-link:hover{
  color: red;
}
.advertis img{
  max-width:-webkit-fill-available ;
}
  .dropdowncontent,.dropdowncontent1{
    width: 150px;
    position: absolute;
    top:25px;
    z-index: 1;
    font-size: smaller;
    background-color: #ffff;
  }
  .liner-continer{
    border-bottom: 4px solid red;
  }
  .pliner-continer{
    border-bottom: 4px solid rgba(0, 0, 0, 0.105);
  }


  .span1{
          font-family: shabnam;
          font-size: x-large;
  }
  .like{
    display: none;
    top:50px;
    left: 10px;
    align-items: center;
  }
  .itemforhover:hover .like{
    display:flex;    
    animation-name: deelay;
    animation-duration: 0.8s;
  }
#img-card:hover{
  transform: scale(1.1,1.1);
  transition: 2s ease;
}
  .icononimg{
    color: black;
  }

  .icononimg:hover{
    color: red;
  }
  .vijhe{
    position: absolute;
   top: 15px;
    right: 0px; 
  }
  .mojoudi{
    position: absolute;
   top: 39px;
    right: 0px;
  }
  .date{
    top: 15px;
    right: 15px;
    position: absolute;
    align-items: center;
  }
  .span2{
    display: none;
    animation-name: continue;
    animation-duration: 0.8s;
  }
  .content-in-card:hover .span2{
    display: inline;
  }
  .countere{
    border-radius: 50%;
    background-color: red;
    width: 15px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -7px;
    right: 15px;
  }
  .iconselect1,.iconselect2,.iconselect3,
  .iconselect4,.iconselect5,.iconselect6,
  .iconselect7,.selbas1,.selbas2,.selbas3
  ,.selbas4,.selbas5,.selbas6,.selbas7 {
    display: none;
  }
  .mnuhed a:hover{
color: red;
  }


 .iconfornav{
  text-align: center;
 }
 .counter1{
  border-radius: 50%;
  background-color: red;
  width: 15px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .navformobile{
  z-index: 2;
 }
 

  
  